<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p>You Enter: <%=@your_input%></p>
    <p>Translate: <%=@converted_text%></p>
  </body>
</html>